<kossi-modal-layout
  [id]="'sync-for-offline-confirm-modal'"
  [modalActionColor]="'warning-back'"
  [showCloseButton]="true"
  [modalTitle]="COMPONENT_TYPE == 'profile' ? 'Modifier mes informations' : COMPONENT_TYPE == 'update_password' ? 'Modifier mon mot de passe' : 'Infos Utilisateur'"
  [cancelBtnName]="'Annuler'"
  [submitBtnName]="''"
  [showBottomElements]="false"
  [showCancelButton]="false"
  [reloadApp]="false"
  [closeAfterSubmited]="false"
  [modalContentWidth]="'medium-width'"
  >

  
<div class="container">
    <div *ngIf="COMPONENT_TYPE == 'profile'" class="card">
      <form [formGroup]="profileForm" (ngSubmit)="updateProfile()">
        <label>Nom complet:</label>
        <input formControlName="fullname" type="text" />
        <div *ngIf="profileForm.get('fullname')?.invalid && profileForm.get('fullname')?.touched" class="error">
          Le nom est obligatoire
        </div>
  
        <label>Email:</label>
        <input formControlName="email" type="email" />
        <div *ngIf="profileForm.get('email')?.invalid && profileForm.get('email')?.touched" class="error">
          L'Email n'est pas valide
        </div>
  
        <label>Téléphone:</label>
        <input formControlName="phone" type="text" />
  
        <button type="submit" [disabled]="!profileForm.valid">Mettre à jour</button>
      </form>
    </div>
  
    <div *ngIf="COMPONENT_TYPE == 'update_password'" class="card">
      <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()">
        <label>Mot de passe actuelle:</label>
        <input type="password" formControlName="oldPassword" />
  
        <label>Nouveau mot de passe:</label>
        <input type="password" formControlName="newPassword" />
  
        <label>Confirmer ce mot de passe:</label>
        <input type="password" formControlName="confirmPassword" />
        <div *ngIf="passwordNotMatch" class="error">
          Les mots de passe ne concordent pas!
        </div>
  
        <button type="submit" [disabled]="!passwordForm.valid">Mettre à jour</button>
      </form>
    </div>
  </div>

</kossi-modal-layout>