th {
    /* font-size: 13px!important; */
    text-transform: capitalize!important;
}
tr.total-head {
    background-color: rgb(7, 0, 74); 
}

tr.total-head td {
    color: white; 
    text-align: center; 
    font-weight: bold; 
    font-size: 22px;
}

.checkbox-row {
  display: inline-block;
  margin-right: 25px;
}

.checkbox-row input[type="checkbox"] {
  margin-right: 6px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

