<kossi-modal-layout
  [id]="'logout-confirm-modal'"
  [modalActionColor]="'danger-back'"
  [showCloseButton]="true"
  [modalTitle]="'Confirmation de déconnection'"
  [cancelBtnName]="'Annuler'"
  [submitBtnName]="'Oui me déconnecter'"
  [showBottomElements]="true"
  [showCancelButton]="true"
  [reloadApp]="false"
  [closeAfterSubmited]="false"
  (onCancel)="close()"
  (onSubmit)="logout()"
>
  <div class="logout-title">Êtes-vous sûr de vouloir vous déconnecter?</div>
  <div class="logout-message">Appuyez sur Annuler si vous souhaitez continuer à travailler.</div>
</kossi-modal-layout>
