
<div class="nav-tabs">
  <button class="tab-link active" data-target="SYNC_ORG_UNITS">Rebuild Sql Views</button>
  <!-- <button class="tab-link" data-target="SYNC_DATA_STEPLY">SYNC DATA STEPLY</button>
  <button class="tab-link" data-target="INDICATORS_CALCULATION">INDICATORS CALCULATION</button>
  <button class="tab-link" data-target="FULL_SYNC_ALL">FULL SYNC ALL</button> -->
</div>

<!-- Contenu des vues -->
<div class="tab-content">

  <div id="SYNC_ORG_UNITS" class="view active">
    <rebuild-sql-views [CHANGE_STATE]="CHANGE_STATE"></rebuild-sql-views>
  </div>

  <!-- <div id="SYNC_DATA_STEPLY" class="view">
    <h2>📊 Synchroniser Tous Formulaires</h2>

  </div>

  <div id="INDICATORS_CALCULATION" class="view">
    <h2>📊 Effectuer le calcul des indicateurs</h2>

  </div>

  <div id="FULL_SYNC_ALL" class="view">
    <h2>📊 Synchronisation total et calcul des indicateurs</h2>

  </div> -->

</div>