<div style="display: flex; align-items: center; justify-content: space-between; margin: 15px 10px 5px 10px;">
  <h2>Roles d'accès</h2>
  <button *ngIf="USER?.role?.canCreateRole == true" (click)="openCreateOrEditRoleModal()"
    style="width: auto; float: right; background: green; color: aliceblue; font-weight: bold; font-size: 14px;"
    type="button" class="btn">
    <i style="font-size: 15px;" class="fa fa-add"></i> Nouveau rôle
  </button>
</div>


<table class="table table-white">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">Name</th>
      <th *ngIf="USER?.role?.canUpdateRole == true || USER?.role?.canDeleteRole == true" colspan="2" scope="col">Actions</th>
    </tr>
  </thead>

  <tbody *ngFor="let role of roles$; let index = index; let isFirst = first; let isOdd = odd;">
    <tr class="{{role.isDeleted ? 'deleted-user' : 'undeleted-user'}}">
      <td scope="row">{{ role.id }}</td>
      <td>{{ role.name }}</td>
      <ng-container *ngIf="USER?.role?.canUpdateRole == true || USER?.role?.canDeleteRole == true">

      <td>
        <i *ngIf="USER?.role?.canUpdateRole == true && !role.authorizations?.includes('_superuser')" (click)="openCreateOrEditRoleModal(role)"
        class="fas fa-edit {{ !role.isDeleted ? 'update-color' : '' }}"></i>
      </td>

      <td>
        <i *ngIf="USER?.role?.canDeleteRole == true && !role.authorizations?.includes('_superuser')"
          (click)="openDeleteRoleModal(role)"  class="fas fa-trash-alt {{ !role.isDeleted ? 'delete-color' : '' }}"></i>
      </td>
    </ng-container>
    </tr>
  </tbody>
</table>



