<div class="row g-4">
  <div class="col-12">
    <div class="bg-white rounded h-100 p-4">
      <h6 class="mb-4">
        <b style="color: black;">Roles List</b>
        <button (click)="CreateRole()" style="float: right;" type="button" class="btn btn-success" data-toggle="modal"
          data-target="#modal-default">
          Add Role
        </button>

      </h6>

      <div class="table-responsive">
        <table class="table table-white">
          <thead>
            <tr>
              <!-- <th>N°</th> -->
              <th scope="col">id</th>
              <th scope="col">Name</th>
              <!-- <th>Pages</th>
                <th scope="col">Authorizations</th> -->
              <th colspan="2" scope="col">Actions</th>
              <!-- <th scope="col">Default Page</th> -->
              <!-- <th scope="col" colspan="2">Authorizations</th> -->
            </tr>
          </thead>

          <tbody *ngFor="let role of roles$; let index = index; let isFirst = first; let isOdd = odd;">
            <tr>
              <!-- <td>{{ index+1 }}</td> -->
              <td scope="row">{{ role.id }}</td>
              <td>{{ role.name }}</td>
              <!-- <td [innerHTML]="ToStringNewLine(role.routes, 'routes') | safeHtml"></td>
                <td [innerHTML]="ToStringNewLine(role.authorizations, 'authorizations') | safeHtml"></td> -->
            
              <td>
                <i style="padding: 1px 4px 1px 6px;" *ngIf="!role.authorizations?.includes('_superuser')"
                  (click)="EditRole(role)" class="btn btn-warning fas fa-edit"></i>
              </td>
              <td>
                <i style="padding: 1px 6px 1px 6px;" *ngIf="!role.authorizations?.includes('_superuser')"
                  (click)="RoleSelectedToDelete(role)" class="btn btn-danger fas fa-trash-alt"></i>
              </td>
              <!-- <td></td> -->
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div *ngIf="removeRoleModalVisible" class="absolute-fix-modal-parent">
  <div style="width: 600px; position: absolute; top: 0; margin-top: 20px;" class="modal-content animated fadeIn">
    <div class="modal-header bg-danger">
      <h4 class="modal-title">Suppression de role</h4>
      <button (click)="closeRemoveRoleModalVisible()" id="close-delete-modal" type="button" class="close">

      </button>
    </div>
    <div class="modal-body">
      <p style="font-size: 20px;">
        Cette autorization est iréversible! Êtes vous sûr de procéder à la suppression ?
      </p>
      <p class="login-box-msg"><strong>{{ message }}</strong></p>
    </div>
    <div class="modal-footer justify-content-between">
      <button (click)="closeRemoveRoleModalVisible()" type="button" class="btn btn-default">Annuler</button>
      <button (click)="DeleteRole()" type="button" class="btn btn-danger swalDefaultSuccess">Oui Supprimer
        !</button>
    </div>
  </div>
</div>


<div *ngIf="addOrUpdateModalVisible" class="absolute-fix-modal animated fadeIn">

  <div
    style="width: 100%!important; height: 100%!important; background: rgba(0, 0, 0, 0.5); align-items: center!important; justify-content: center!important;display: flex;">
    <form autocomplete="off" style="width: 800px" [formGroup]="roleForm" (ngSubmit)="CreateOrUpdateRole()" novalidate
      class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <strong style="text-align: center;" class="login-box-msg"><span
              class=" btn-{{ isEditMode?'warning':'success' }}">
              {{ isEditMode ? 'Modifier un role' :'Ajouter un role' }}</span></strong>

          <button (click)="closeAddOrUpdateModalVisible()" type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span>&times;</span>
            <!-- <span [attr.aria-hidden]="isHidden ? 'true' : null" [attr.inert]="isHidden ? '' : null">&times;</span> -->
          </button>
        </div>

        <div class="modal-body">
          <p *ngIf="message!=''" class="login-box-msg"><strong>{{ message }}</strong></p>

          <div class="row">
            <div class="col-6">
              <div class="input-group mb-3 col-6">
                <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
                <input style="background-color: white;" type="text" class="form-control" placeholder="Name"
                  formControlName="name" aria-label="Name" aria-describedby="basic-addon1">
              </div>
            </div>
            <div class="col-6">

            </div>

          </div>

          <!-- ################################ -->

          <div class="bg-white rounded h-0 p-4">
            <!-- <h6 class="mb-4">Basic Accordion</h6> -->
            <div class="accordion" id="accordionExample">
              <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="headingOne">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                    aria-expanded="true" aria-controls="collapseOne">
                    Pages d'accès à celui qui aura ce role
                  </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <!-- <div style="margin-left: 10px;" class="form-check">
                      <input style="zoom: 1.5;" class="form-check-input" id="all-pages-checked" type="checkbox"
                        [checked]="selectedRoute.length == routes$.length" (click)="SelectAllRoutes()">
                      <label class="form-check-label" for="all-pages-checked">
                        Select All Pages
                      </label>
                    </div>
                    <br> -->

                    <div
                      style="max-height: 300px; overflow-y: scroll; overflow-x: hidden; border: 1px darkblue dashed; padding: 10px;">
                      <div class="row">
                        <ng-container *ngFor="let route of routes$; let index = index;">
                          <div class="col-6" [ngClass]="{'custom-class': index <= routes$.length / 2}">
                            <p>
                              <input class="form-check-input" type="checkbox" [checked]="containsRoute(route)"
                                (click)="AddOrRemoveRoute(route)">
                              <span style="margin-left: 5px; cursor:pointer;" (click)="AddOrRemoveRoute(route)">
                                {{ route.label }}</span>
                            </p>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item bg-transparent">
                <h2 class="accordion-header" id="headingTwo">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Authorizations d'actions pour ce role
                  </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                  data-bs-parent="#accordionExample">
                  <div class="accordion-body">
                    <!-- <div style="margin-left: 10px;" class="form-check">
                      <input style="zoom: 1.5;" class="form-check-input" id="all-authorizations-checked" type="checkbox"
                        [checked]="selectedAutorization.length == authorizations$.length"
                        (click)="SelectAllAuthorizations()">
                      <label class="form-check-label" for="all-authorizations-checked">
                        Select all Authorizations
                      </label>
                    </div>
                    <br> -->
                    <div
                      style="max-height: 200px; overflow-y: scroll; overflow-x: hidden; border: 1px darkblue dashed; padding: 10px;">
                      <div class="row">
                        <ng-container *ngFor="let auton of authorizations$; let index = index;">
                          <div class="col-md-6" [ngClass]="{'custom-class': index <= authorizations$.length / 2}">
                            <p>
                              <input class="form-check-input" type="checkbox" [checked]="containsAutorization(auton)"
                                id="add-remove-autorization" (click)="AddOrRemoveAutorization(auton)">
                              <label style="margin-left: 5px; cursor:pointer;" for="add-remove-autorization">
                                {{ auton }}
                              </label>
                            </p>
                          </div>
                        </ng-container>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer justify-content-between">
          <button (click)="closeAddOrUpdateModalVisible()" id="close-modal" type="button" class="btn btn-default"
            data-dismiss="modal">Fermer</button>
          <button [disabled]="!roleForm.valid" type="submit"
            class="btn btn-{{isEditMode ? 'warning': 'success'}}">{{isEditMode ? 'Modifier':'Sauvegarder'}}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
