<ng-container
  *ngIf="!isChartsPage() && (!isPublicPage() && (!isAuthenticated || hideMainPage()))">
  <!-- <div class="app-content"> -->
  <router-outlet></router-outlet>
  <!-- </div> -->
</ng-container>

<ng-container
  *ngIf="!isChartsPage() && (isPublicPage() || (isAuthenticated && !hideMainPage()))">

  <app-navbar></app-navbar>
  <div class="app-content">
    <router-outlet></router-outlet>
  </div>
  <!-- <div class="app-content">

    <div
      class="zoom-wrapper"
      (pinch)="onPinch($event)"
      (pinchend)="onPinchEnd()"
      (wheel)="onWheel($event)"
      [style.transform]="'scale(' + zoom + ')'">
      <router-outlet></router-outlet>
    </div>
  </div> -->

</ng-container>

<ng-container *ngIf="isChartsPage()">

  <app-navbar></app-navbar>
  <charts-views></charts-views>
  <!-- <div class="app-content"> -->
  <router-outlet></router-outlet>
  <!-- </div> -->
</ng-container>

<app-snackbar></app-snackbar>
<device-detection></device-detection>
