<ng-container *ngIf="REPORTS_HEADER as h">
  <div class="orgunit-filter">
    <button 
      [disabled]="ON_ALL_FETCHING || ON_ALL_VALIDATION || ON_ALL_CANCEL_VALIDATION|| ON_ALL_DHIS2_SENDING"
      style="width: auto;" class="open-modal-button">
      🔍 Filtrer
      <span *ngIf="ON_ALL_FETCHING" class="fas fa-1x fa-sync-alt fa-spin"></span>
    </button>

    <button *ngIf="showReportsButton && CAN_ALL_VALIDATE_REPORTS" style="width: auto!important;" [disabled]="ON_ALL_VALIDATION || ON_ALL_CANCEL_VALIDATION || ON_ALL_DHIS2_SENDING || IS_ALL_ON_DHIS2"
      (click)="IS_ALL_REPPORTS_VALIDATED ? CancelAllValidation($event) : ValidateAllReports($event)"
      class="submitBtn btn {{ IS_ALL_REPPORTS_VALIDATED ? 'btn-info' : 'btn-warning' }}">
      <span *ngIf="(ON_ALL_DHIS2_SENDING || IS_ALL_ON_DHIS2)">{{ 'Rapport déja validé' }}</span>

      <span *ngIf="!(ON_ALL_DHIS2_SENDING || IS_ALL_ON_DHIS2)">
        {{ IS_ALL_REPPORTS_VALIDATED ? 'Annuler toute validation' : 'Valider tous les rapport' }}
      </span>
      <span *ngIf="ON_ALL_VALIDATION || ON_ALL_CANCEL_VALIDATION" class="fas fa-1x fa-sync-alt fa-spin"></span>
    </button>

    <button *ngIf="showReportsButton && CAN_ALL_VALIDATE_REPORTS && CAN_SEND_TO_DHIS2" [disabled]="ON_ALL_DHIS2_SENDING || IS_ALL_ON_DHIS2"
      style="width: auto;" class="btn btn-warning" (click)="openAllSendReportsToDhis2Modal($event)">
      {{ IS_ALL_ON_DHIS2 ? 'Déja envoyé au DHIS2' : 'Tout Envoyer Au DHIS2' }}
      <span *ngIf="ON_ALL_DHIS2_SENDING" class="fas fa-1x fa-sync-alt fa-spin"></span>
    </button>
  </div>


  <div id="overlay" class="overlay"></div>


  <!-- Modal de Filtrage -->
  <div id="modal-container" class="modal">
    <div class="modal-container-header">
      <span class="close">&times;</span>
      <h2>🔍 Filtrer les données</h2>
    </div>
    <div class="modal-container-content">
      <form [formGroup]="form" id="filterForm" (ngSubmit)="START_ORGUNIT_FILTER($event)" novalidate>
        <div *ngIf="Countries$.length > 1 && countries.length === 0 || countries.length > 1" class="form-group">
          <label for="country">
            Pays :({{ selectedLength('country') }})
            <input id="all-country" (change)="selectAll('country', $event)" [checked]="isChecked('country')"
              type="checkbox">
          </label>
          <select id="country" (change)="regionsGenerate()" class="form-control"
            multiple="{{ countries.length > 0 ? 'multiple' : '' }}" formControlName="country">
            <option *ngFor="let c of countries" [value]="c.id">
              {{ c.name }}
            </option>
          </select>
        </div>

        <div *ngIf="Regions$.length > 1 && regions.length === 0 || regions.length > 1" class="form-group">
          <label for="region">
            Régions :({{ selectedLength('region') }})
            <input id="all-region" (change)="selectAll('region', $event)" [checked]="isChecked('region')"
              type="checkbox">
          </label>
          <select id="region" (change)="prefecturesGenerate()" class="form-control"
            multiple="{{ regions.length > 0 ? 'multiple' : '' }}" formControlName="region">
            <option *ngFor="let r of regions" [value]="r.id">
              {{ r.name }}
            </option>
          </select>
        </div>

        <div *ngIf="Prefectures$.length > 1 && prefectures.length === 0 || prefectures.length > 1" class="form-group">
          <label for="prefecture">
            Préfectures :({{ selectedLength('prefecture') }})
            <input id="all-prefecture" (change)="selectAll('prefecture', $event)" [checked]="isChecked('prefecture')"
              type="checkbox">
          </label>
          <select id="prefecture" (change)="communesGenerate()" class="form-control"
            multiple="{{ prefectures.length > 0 ? 'multiple' : '' }}" formControlName="prefecture">
            <option *ngFor="let p of prefectures" [value]="p.id">
              {{ p.name }}
            </option>
          </select>
        </div>

        <div *ngIf="Communes$.length > 1 && communes.length === 0 || communes.length > 1" class="form-group">
          <label for="commune">
            Communes :({{ selectedLength('commune') }})
            <input id="all-commune" (change)="selectAll('commune', $event)" [checked]="isChecked('commune')"
              type="checkbox">
          </label>
          <select id="commune" (change)="hospitalsGenerate()" class="form-control"
            multiple="{{ communes.length > 0 ? 'multiple' : '' }}" formControlName="commune">
            <option *ngFor="let c of communes" [value]="c.id">
              {{ c.name }}
            </option>
          </select>
        </div>

        <div *ngIf="Hospitals$.length > 1 && hospitals.length === 0 || hospitals.length > 1" class="form-group">
          <label for="hospital">
            Centre de santé :({{ selectedLength('hospital') }})
            <input id="all-hospital" (change)="selectAll('hospital', $event)" [checked]="isChecked('hospital')"
              type="checkbox">
          </label>
          <select id="hospital" (change)="districtsGenerate()" class="form-control"
            multiple="{{ hospitals.length > 0 ? 'multiple' : '' }}" formControlName="hospital">
            <option *ngFor="let h of hospitals" [value]="h.id">
              {{ h.name }}
            </option>
          </select>
        </div>

        <div *ngIf="DistrictQuartiers$.length > 1 && districtQuartiers.length === 0 || districtQuartiers.length > 1" class="form-group">
          <label for="district_quartier">
            Districts/Quartiers :({{ selectedLength('district_quartier') }})
            <input id="all-district_quartier" (change)="selectAll('district_quartier', $event)"
              [checked]="isChecked('district_quartier')" type="checkbox">
          </label>
          <select id="district_quartier" (change)="recosGenerate()" class="form-control"
            multiple="{{ districtQuartiers.length > 0 ? 'multiple' : '' }}" formControlName="district_quartier">
            <option *ngFor="let d of districtQuartiers" [value]="d.id">
              {{ d.name }}
            </option>
          </select>
        </div>

        <div *ngIf="(Recos$.length > 1 && recos.length === 0) || recos.length > 1" class="form-group">
          <label for="recos">
            Recos :({{ selectedLength('recos') }})
            <input id="all-recos" (change)="selectAll('recos', $event)" [checked]="isChecked('recos')" type="checkbox">
          </label>
          <select id="recos" class="form-control" multiple="{{ recos.length > 0 ? 'multiple' : '' }}"
            formControlName="recos">
            <option *ngFor="let r of recos" [value]="r.id">
              {{ r.name }}
            </option>
          </select>
        </div>

        <div *ngIf="showYearsSelection" class="form-group">
          <label *ngIf="Years$.length > 0" for="year">
            Années :
            <!-- ({{ selectedLength('year') }})
          <input id="all-year" (change)="selectAll('year', $event)" [checked]="isChecked('year')" type="checkbox"> -->
          </label>
          <select id="year" class="form-control" formControlName="year" (change)="initMonths($event)">
            <ng-container *ngIf="Years$.length > 0">
              <option *ngFor="let y of Years$" [value]="y">
                {{ y }}
              </option>
            </ng-container>
          </select>
        </div>

        <div *ngIf="showMonthsSelection" class="form-group">
          <label *ngIf="Months$.length > 0" for="months">
            Mois :
            <ng-container *ngIf="showMultipleSelectionMonth">
              ({{ selectedLength('months') }})
              <input id="all-months" (change)="selectAll('months', $event)" [checked]="isChecked('months')" type="checkbox">
            </ng-container>
          </label>
          <select id="months" class="form-control" multiple="{{ Months$.length > 0 && showMultipleSelectionMonth ? 'multiple' : '' }}" formControlName="months">
            <!-- <select id="months" class="form-control" formControlName="months"> -->
            <ng-container *ngIf="Months$.length > 0">
              <option *ngFor="let m of Months$" [value]="m.id">
                {{ m.labelFR }}
              </option>
            </ng-container>
          </select>
        </div>

        <button [disabled]="ON_ALL_FETCHING || !form.valid" id="modal-validate" class="btn btn-primary modal-validate">
          Appliquer le filtre
          <span *ngIf="ON_ALL_FETCHING" class="fas fa-1x fa-sync-alt fa-spin"></span>
        </button>
      </form>
    </div>
  </div>

</ng-container>