<kossi-modal-layout
  [id]="'sync-for-offline-confirm-modal'"
  [modalActionColor]="'light-back'"
  [showCloseButton]="true"
  [modalTitle]="'Synchroniser en local'"
  [cancelBtnName]="'Annuler'"
  [submitBtnName]="'Synchroniser'"
  [showBottomElements]="true"
  [showCancelButton]="true"
  [reloadApp]="false"
  [closeAfterSubmited]="false"
  [processing]="data_syncing"
  (onCancel)="close()"
  (onSubmit)="StartSubmit()">

  <div class="rounded">
    <div  style="color: red; text-align: center;font-weight: bold;">{{ errorMessage }}</div>
    <form [formGroup]="_formGroup" (ngSubmit)="START_SYNC_FOR_OFFLINE($event)" novalidate>
      
        <select class="form-control mb-2" formControlName="year" (change)="initMonths($event)">
          <ng-container *ngIf="Years$.length > 0">
            <option *ngFor="let y of Years$" [value]="y">
              {{ y }}
            </option>
          </ng-container>
        </select>

        <select class="form-control mb-2" formControlName="months" multiple="{{ Months$.length > 0 ? 'multiple' : '' }}">
          <ng-container *ngIf="Months$.length > 0">
            <option *ngFor="let m of Months$" [value]="m.id">
              {{ m.labelFR }}
            </option>
          </ng-container>
        </select>

    </form>
  </div>

</kossi-modal-layout>
