
<app-graduation-loader [isLoading]="IS_FILTER_LOADING"></app-graduation-loader>


<ng-container *ngIf="DATA_FETCHED && DATA_FETCHED.performances && DATA_FETCHED.performances.length > 0">
  <h2>📊 PERFORMANCES DES RECOS</h2>
  <br>

  <repports-header-selector
    [id]="'recos_performances-table-header'"
    [REPPORT_NAME]="DASHBOARD_NAME"
    [CHANGE_STATE]="CHANGE_STATE"
    [HIDE_ZERO_ID]="'fp-rep'"
    [TABLE_ID]="'recos_performances-table'"
    [SHOW_EXPORT_TABLE_BTN]="true">
  </repports-header-selector>

    <div class="table-responsive">
    <table id="recos_performances-table" class="table table-bordered table-hover">



      <thead>
        <tr style="text-align: center;" class="total-head">
          <th [colSpan]="4">RECO</th> 

          <th [rowSpan]="2">MENAGES</th> 
          <th [rowSpan]="2">PATIENTS</th> 

          <th [colSpan]="3">ADULTE</th> 
          <th [colSpan]="3">PF</th> 
          <th [colSpan]="3">NOUVEU NE</th> 
          <th [colSpan]="3">ENFANT</th> 
          <th [colSpan]="3">ENCEINTE</th> 
          <th [colSpan]="3">TOUTE CONSULTATION</th> 
          
          <th [rowSpan]="2">REFERENCE</th> 
          <th [rowSpan]="2">ACCOUCHEMENT</th> 
          <th [rowSpan]="2">EVENEMENT</th> 
          <th [rowSpan]="2">PROMOTION</th> 
          <th [rowSpan]="2">DECES</th> 
          <th [rowSpan]="2">TOUT ACTIONS</th> 
        </tr>

        <tr style="text-align: center;" class="table-head fp-header-1">
          <th class="small-head" scope="col">N°</th>
          <th class="small-head" scope="col">Nom</th>
          <th class="small-head" scope="col">Téléphone</th>
          <th class="small-head" scope="col">Village</th>

          <ng-container *ngFor="let d of [1, 2, 3, 4, 5, 6]">
            <th class="small-head" scope="col">Consu</th>
            <th class="small-head" scope="col">Suivi</th>
            <th class="small-head" scope="col">Total</th>
          </ng-container>
        </tr>
      </thead>

      <tbody>
        <tr style="font-weight: bold;" *ngIf="DATA_FETCHED.total as t">
          <td style="text-align: right;" [colSpan]="4">LES TOTAUX</td>

          <td>{{ t.family_count }}</td>
          <td>{{ t.patient_count }}</td>

          <td>{{ t.adult_data_count.consultation }}</td>
          <td>{{ t.adult_data_count.followup }}</td>
          <td>{{ t.adult_data_count.total }}</td>

          <td>{{ t.family_planning_data_count.consultation }}</td>
          <td>{{ t.family_planning_data_count.followup }}</td>
          <td>{{ t.family_planning_data_count.total }}</td>

          <td>{{ t.newborn_data_count.consultation }}</td>
          <td>{{ t.newborn_data_count.followup }}</td>
          <td>{{ t.newborn_data_count.total }}</td>

          <td>{{ t.pcimne_data_count.consultation }}</td>
          <td>{{ t.pcimne_data_count.followup }}</td>
          <td>{{ t.pcimne_data_count.total }}</td>

          <td>{{ t.pregnant_data_count.consultation }}</td>
          <td>{{ t.pregnant_data_count.followup }}</td>
          <td>{{ t.pregnant_data_count.total }}</td>

          <td>{{ t.all_consultation_followup_count.consultation }}</td>
          <td>{{ t.all_consultation_followup_count.followup }}</td>
          <td>{{ t.all_consultation_followup_count.total }}</td>

          <td>{{ t.referal_data_count }}</td>
          <td>{{ t.delivery_data_count }}</td>
          <td>{{ t.events_data_count }}</td>
          <td>{{ t.promotional_data_count }}</td>
          <td>{{ t.death_data_count }}</td>
          <td>{{ t.all_actions_count }}</td>
        </tr>

        <tr *ngFor="let d of DATA_FETCHED.performances; let i = index">
          <td>{{ i + 1 }}</td>

          <td>{{ d.reco.name }} 
            <i class="fas fa-bullseye" (click)="startGenerateRecoChart(d.reco.id, d.reco.name)"></i>
          </td>
          <td>{{ d.reco.phone }}</td>
          <td>{{ d.village_secteur.name }}</td>

          <td>{{ d.family_count }}</td>
          <td>{{ d.patient_count }}</td>

          <td>{{ d.adult_data_count.consultation }}</td>
          <td>{{ d.adult_data_count.followup }}</td>
          <td>{{ d.adult_data_count.total }}</td>

          <td>{{ d.family_planning_data_count.consultation }}</td>
          <td>{{ d.family_planning_data_count.followup }}</td>
          <td>{{ d.family_planning_data_count.total }}</td>

          <td>{{ d.newborn_data_count.consultation }}</td>
          <td>{{ d.newborn_data_count.followup }}</td>
          <td>{{ d.newborn_data_count.total }}</td>

          <td>{{ d.pcimne_data_count.consultation }}</td>
          <td>{{ d.pcimne_data_count.followup }}</td>
          <td>{{ d.pcimne_data_count.total }}</td>

          <td>{{ d.pregnant_data_count.consultation }}</td>
          <td>{{ d.pregnant_data_count.followup }}</td>
          <td>{{ d.pregnant_data_count.total }}</td>

          <td>{{ d.all_consultation_followup_count.consultation }}</td>
          <td>{{ d.all_consultation_followup_count.followup }}</td>
          <td>{{ d.all_consultation_followup_count.total }}</td>

          <td>{{ d.referal_data_count }}</td>
          <td>{{ d.delivery_data_count }}</td>
          <td>{{ d.events_data_count }}</td>
          <td>{{ d.promotional_data_count }}</td>
          <td>{{ d.death_data_count }}</td>
          <td>{{ d.all_actions_count }}</td>
        </tr>
      </tbody>
    </table>

  </div>

</ng-container>



<div id="customModal" class="custom-modal">
  <div class="custom-modal-content">
    <span class="custom-close-btn" (click)="closeModal()">&times;</span>
    <h2>{{ LINE_TITLE }}</h2>
    <!-- <p>Voici un contenu de modale personnalisée.</p>
    <button class="action-btn">Confirmer</button> -->
    <canvas id="line-chart"></canvas>
  </div>
</div>

<ng-container *ngIf="!DATA_FETCHED || !DATA_FETCHED.performances || DATA_FETCHED.performances.length == 0">
  <h1 style="margin-top: 150px; width: 100%; text-align: center; color:brown;">
    Pas de données, appliquer le filtre !
  </h1>
</ng-container>