
.grey-back {
  background-color: gray;
  border: 1px gray solid;
}

/* .morbidity-health td, .morbidity-health th, .morbidity-malaria td, .morbidity-malaria th {
  font-size: 14px;
  font-weight: bold;
} */

