
<div *ngIf="IS_DELETE_MODE == true">
  <kossi-modal-layout
    [id]="'role-delete-confirm-modal'"
    [modalActionColor]="'danger-back'"
    [showCloseButton]="true"
    [modalTitle]="'Suppression de RÔLE: '"
    [cancelBtnName]="'Annuler'"
    [submitBtnName]="'Oui Supprimer'"
    [showBottomElements]="true"
    [showCancelButton]="true"
    [reloadApp]="false"
    [closeAfterSubmited]="false"
    [processing]="isProcessing"
    (onSubmit)="delete()">
    <div>Êtes-vous sûr de vouloir supprimer ce rôle ?</div>
    <div>Cette action est iréversible! Êtes vous sûr de procéder à la suppression ?</div>
    <div *ngIf="message && message!=''" style="color: rgb(88, 0, 0); text-align: center;">{{message}}</div>
  </kossi-modal-layout>
</div>


<div *ngIf="IS_CREATE_OR_UPDATE == true">
  <kossi-modal-layout 
    [id]="'user-create-update-modal'" 
    [modalContentWidth]="'large-width'"
    [modalActionColor]="isEditMode?'warning-back':'success-back'" 
    [showCloseButton]="true"
    [modalTitle]="isEditMode ? 'Modifier un RÔLE':'Ajouter un RÔLE'" 
    [cancelBtnName]="'Annuler'"
    [submitBtnName]="isEditMode ? 'Modifier':'Sauvegarder'" 
    [showBottomElements]="true" 
    [showCancelButton]="true"
    [reloadApp]="false" 
    [closeAfterSubmited]="false"
    [disableSubmitButton]="!isValidForm()"
    [processing]="isProcessing"
    (onSubmit)="createOrUpdate()"
  >

    <div style="min-height: 25px; text-align: center; padding:5px 2px;">
      <span *ngIf="message && message!=''"  style="color: rgb(183, 0, 0);">{{message}}</span> 
    </div>

    <div class="user-container">
      <form [formGroup]="roleForm" class="form-horizontal" autocomplete="off" novalidate>
        <div class="row">
          <div class="input-group col-md-6">
              <span class="input-group-icon"><i class="fas fa-user"></i></span>
              <input type="text" placeholder="Nom du role" formControlName="name">
          </div>
        </div>

        <br>
        <h2 (click)="toggleSection('route')">1️⃣ Pages d'accès à celui qui aura ce role</h2>
          <div *ngIf="visibleSection === 'route'" class="section">
            <div class="role-routes">
              <div class="row">
                <div *ngFor="let route of DATAS.routes; let index = index;" class="custom-checkbox col-md-4">
                  <input type="checkbox" id="add-remove-routes-{{ route.label }}" [checked]="containsRoute(route)" (click)="addOrRemoveRoute(route)">
                  <label for="add-remove-routes-{{ route.label }}">{{ route.label }}</label>
                </div>
              </div>
            </div>
          </div>
        
        <br>
        <h2 (click)="toggleSection('authorization')">2️⃣ Informations utilisateur</h2>
          <div *ngIf="visibleSection === 'authorization'" class="section">
            <div class="section-title">Authorizations d'actions pour ce role</div>
            <div class="role-authorizations">
              <div class="row">
                  <div *ngFor="let auton of DATAS.authorizations; let index = index;"  class="custom-checkbox col-md-4">
                    <input type="checkbox" [checked]="containsAutorization(auton)" id="add-remove-autorization-{{ auton }}" (click)="addOrRemoveAutorization(auton)">
                    <label for="add-remove-autorization-{{ auton }}">{{ auton }}</label>
                  </div>
              </div>
            </div>
          </div>
    </form>
    </div>

  </kossi-modal-layout>
</div>
