<dashboards-orgunits-filter [CHANGE_STATE]="CHANGE_STATE"></dashboards-orgunits-filter>


<div class="nav-tabs">
  <button class="tab-link active" data-target="RECOS_GUIDE_FORMATION">RECOS GUIDE FORMATION</button>
  <button class="tab-link" data-target="GUIDE_FORMATEUR">GUIDE FORMATEUR</button>
  <button class="tab-link" data-target="APKS">APKs ANDROID</button>
  <button class="tab-link" data-target="DOCUMENTATIONS">DOCUMENTATIONS</button>
</div>


<!-- Contenu des vues -->
<div class="tab-content">
  <div id="RECOS_GUIDE_FORMATION" class="view active">
    <h2>📊 GUIDE FORMATION DES RECO</h2>
    <kendeya-reco-guide-formation [CHANGE_STATE]="CHANGE_STATE"></kendeya-reco-guide-formation>
  </div>

  <div id="GUIDE_FORMATEUR" class="view">
    <h2>📊 GUIDE DES FORMATEURS</h2>
    <kendeya-guide-formation [CHANGE_STATE]="CHANGE_STATE"></kendeya-guide-formation>
  </div>

  <div id="APKS" class="view">
    <h6>📈 APKs pour android</h6>
    <br>
    <app-apks-download [CHANGE_STATE]="CHANGE_STATE"></app-apks-download>
  </div>

  <div id="DOCUMENTATIONS" class="view">
    <h2>📈 DOCUMENTATIONS</h2>
    <app-documentations [CHANGE_STATE]="CHANGE_STATE"></app-documentations>
  </div>
</div>
