
<app-snake-loader [isLoading]="IS_FILTER_LOADING"></app-snake-loader>

  <div class="map-app-container">
    <div class="map-toolbar">
      <div class="map-controls">
        <button (click)="zoomToFitAll()">Zoomer</button>
        <button (click)="showFilterModal = true">Filtrer</button>
        <button (click)="showOrgUnitFilterModal = true">OrgUnit</button>
        <button (click)="resetFilters()">X</button>


        <select  (change)="changeBasemap($event)">
          <option value="streets">Rues</option>
          <option value="satellite">Satellite</option>
          <option value="terrain">Relief</option>
          <!-- <option value="humanitarian">Humanitaire</option> -->
        </select>
      </div>

      <div *ngIf="isLoading" class="loading-overlay">Chargement en cours...</div>

      <div id="globe-overlay" *ngIf="showGlobe" class="globe-container">
        <img src="assets/img/spinning-globe.gif" alt="Globe animé" />
      </div>
    </div>

    <div class="big-map-container">
      <div id="map" [ngClass]="{ 'world-mode-activated': worldViewAnimated }"></div>

      <div class="map-legend">
        <p><strong>Résumé :</strong></p>
        <p>ASC affichés : {{ displayedASCCount }}</p>
        <p>FS affichés : {{ fsMarkers.length }}</p>
      </div>

      <div style="position: absolute; bottom: 0; right: 0; z-index: 9999">
        <canvas id="recoChart" width="150" height="100"></canvas>
      </div>

      <div class="modal-backdrop" *ngIf="showFilterModal">
        <div class="modal">
          <h3>🎯 Filtres</h3>

          <label><input type="checkbox" [(ngModel)]="showASCValid"> ASC valides</label><br>
          <label><input type="checkbox" [(ngModel)]="showASCInvalid"> ASC invalides</label><br>
          <label><input type="checkbox" [(ngModel)]="showFS"> Centres de santé (FS)</label><br>

          <div class="modal-actions">
            <button (click)="applyFilters()">Appliquer</button>
            <button (click)="showFilterModal = false; showOrgUnitFilterModal = false;">Fermer</button>
          </div>
        </div>
      </div>
    </div>
  </div>
