<maps-orgunits-filter [CHANGE_STATE]="CHANGE_STATE"></maps-orgunits-filter>

<div class="nav-tabs">
  <button class="tab-link active" data-target="RECO_MAPS">MAPS DONNEES RECO</button>
  <button class="tab-link" data-target="FS_MAPS">FS MAPS</button>
</div>

<!-- Contenu des vues -->
<div class="tab-content">
  <div id="RECO_MAPS" class="view active">
    <app-reco-map-viewer [CHANGE_STATE]="CHANGE_STATE"></app-reco-map-viewer>
  </div>

  <div id="FS_MAPS" class="view">
    <h1>Pas encore implémenté !</h1>
  </div>
</div>