<h1 style="color:red;"> {{ responseMsg }} </h1>

<section class="content-header">
  <div class="container-fluid">
    <h2>Delete Chws Data From Couch Database (Tonoudayo App)</h2>
    <div class="card card-info">
      <div class="overlay-wrapper">
        <div class="card-header">
          <form [formGroup]="_formGroup" (ngSubmit)="getListOfDataToDeleteFromCouchDb()" novalidate>
            <div class="row">

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Date Début</label>
                  <input style="background-color: whitesmoke;" type="date" class="form-control" formControlName="start_date" />
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Date Fin</label>
                  <input style="background-color: whitesmoke;" type="date" class="form-control" formControlName="end_date" />
                </div>
              </div>


              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Country</label>
                  <select multiple style="background-color: whitesmoke;" (change)="genarateRegions()" class="form-control" formControlName="countries">
                    <option value=""></option>
                    <option *ngFor="let ctr of Countries$" value="{{ctr.id}}">
                      {{ ctr.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Region</label>
                  <select multiple style="background-color: whitesmoke;" (change)="genaratePrefectures()" class="form-control" formControlName="regions">
                    <option value=""></option>
                    <option *ngFor="let re of regions$" value="{{re.id}}">
                      {{ re.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Prefecture</label>
                  <select multiple style="background-color: whitesmoke;" (change)="genarateCommunes()" class="form-control" formControlName="prefectures">
                    <option value=""></option>
                    <option *ngFor="let pr of prefectures$" value="{{pr.id}}">
                      {{ pr.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Commune</label>
                  <select multiple style="background-color: whitesmoke;" (change)="genarateHospitals()" class="form-control" formControlName="communes">
                    <option value=""></option>
                    <option *ngFor="let co of communes$" value="{{co.id}}">
                      {{ co.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Hospital</label>
                  <select multiple style="background-color: whitesmoke;" (change)="genarateDistrictQuartiers()" class="form-control" formControlName="hospitals">
                    <option value=""></option>
                    <option *ngFor="let hs of hospitals$" value="{{hs.id}}">
                      {{ hs.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>District/Quartier</label>
                  <select multiple style="background-color: whitesmoke;" (change)="generateCible()" class="form-control" formControlName="district_quartiers">
                    <option value=""></option>
                    <option *ngFor="let dq of districtQuartiers$" value="{{dq.id}}">
                      {{ dq.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Type</label>
                  <select style="background-color: whitesmoke;" (change)="generateCible()" class="form-control" formControlName="type">
                    <option value=""></option>
                    <option *ngFor="let type of types$" value="{{type}}">
                      {{ type.toUpperCase() }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>Reco/ASC/CountryMger/RegionMger/PrefectureMger/CommuneMger/HospitalMger</label>
                  <select style="background-color: whitesmoke;" class="form-control" multiple formControlName="cible">
                    <option value=""></option>
                    <option *ngFor="let cb of cibles$" value="{{cb.id}}">
                      {{ cb.name }}
                    </option>
                  </select>
                </div>
              </div>

              <div class="col-sm-3 col-6">
                <div class="form-group">
                  <label>.</label>
                  <button [disabled]="!_formGroup.valid" type="submit" class="btn btn-warning form-control">
                    Charger les données <i style="margin-left: 10px;" *ngIf="isLoading" class="fas fa-1x fa-sync-alt fa-spin"></i>
                  </button>
                </div>
              </div>

            </div>
          </form>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">

        </div>
        <div style="margin-top: 30px;" class="panel-body">
          <button [disabled]="!(selectedListToBeDelete.length > 0)" (click)="deleteSelectedDataFromCouchDb()" type="button"
            class="btn btn-danger">
            Delete Selected Data From CouchDb
          </button>
          <br>
          <table class="table datatable">
            <thead>
              <tr>
                <th><input [checked]="foundedDataToDelete.length > 0 && (selectedListToBeDelete.length == foundedDataToDelete.length)" (click)="SelectAllData()" style="zoom: 1.5;" type="checkbox" name="" id=""></th>
                <th>ID</th>
                <th>REV</th>
                <th>Form / Name</th>
                <th>User</th>
              </tr>
            </thead>


            <tbody *ngFor="let data of foundedDataToDelete">
              <tr>
                <th><input [checked]="containsData(data)" (click)="AddOrRemoveData(data)" style="zoom: 1.1;" type="checkbox" name="" id=""></th>
                <td>{{ data.id }}</td>
                <td>{{ data.rev }}</td>
                <td>{{ data.form ?? data.name }}</td>
                <td>{{ data.user }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
