<div *ngIf="IS_SHOW_ROLES == true">
  <kossi-modal-layout
    [id]="'show-roles-modal'"
    [modalActionColor]="'dark-back'"
    [showCloseButton]="true"
    [modalTitle]="'Rôles'"
    [cancelBtnName]="'Annuler'"
    [submitBtnName]="'Oui Supprimer'"
    [showBottomElements]="false"
  >
  <img height="30" class="modal-title" src="{{ APP_LOGO}}" alt="" srcset="">
    <table *ngIf="ROLES">
      <tr *ngFor="let role of ROLES">
        <td>
          <span class="{{containsRole(role.id) ? 'action-checked' : 'action-unchecked'}}" style="margin-left: 5px;">
            {{ titleCase(role.name) }}
          </span>
        </td>
        <td>
          <input type="checkbox" [checked]="containsRole(role.id)" [disabled]="true">
        </td>
      </tr>
    </table>
  </kossi-modal-layout>
</div>


<div *ngIf="IS_DELETE_MODE == true">
  <kossi-modal-layout
    [id]="'delete-confirm-modal'"
    [modalActionColor]="'danger-back'"
    [showCloseButton]="true"
    [modalTitle]="'Suppression de: ' + (SELECTED_USER ? SELECTED_USER.fullname : 'l\'utilisateur!')"
    [cancelBtnName]="'Annuler'"
    [submitBtnName]="'Oui Supprimer'"
    [showBottomElements]="true"
    [showCancelButton]="true"
    [reloadApp]="false"
    [closeAfterSubmited]="false"
    [processing]="isProcessing"
    (onSubmit)="delete()">
    <div>Êtes-vous sûr de vouloir supprimer cet utilisateur ?</div>
    <div>Cette action est iréversible! Êtes vous sûr de procéder à la suppression ?</div>
    <div *ngIf="message && message!=''" style="color: rgb(88, 0, 0); text-align: center;">{{message}}</div>
  </kossi-modal-layout>
</div>



<div *ngIf="IS_CREATE_OR_UPDATE == true">
  <kossi-modal-layout 
    [id]="'create-update-user-modal'" 
    [modalContentWidth]="'large-width'"
    [modalActionColor]="isEditMode?'warning-back':'success-back'" 
    [showCloseButton]="true"
    [modalTitle]="isEditMode ? 'Modifier un utilisateur':'Ajouter un utilisateur'" 
    [cancelBtnName]="'Annuler'"
    [submitBtnName]="isEditMode ? 'Modifier':'Sauvegarder'" 
    [showBottomElements]="true" 
    [showCancelButton]="true"
    [reloadApp]="false" 
    [closeAfterSubmited]="false"
    [disableSubmitButton]="!userForm.valid || orgUnitsIsEmpty() || rolesIsEmpty()"
    [processing]="isProcessing"
    (onSubmit)="registerOrUpdate()"
  >

    <div *ngIf="message && message!=''"  style="min-height: 25px; text-align: center; padding:5px 2px;">
      <span style="color: rgb(183, 0, 0);">{{message}}</span> 
    </div>

    <div class="user-container">
      <form [formGroup]="userForm" class="form-horizontal" autocomplete="off" novalidate>
        <div class="form-container">

          <h2 (click)="toggleSection('info')">1️⃣ Informations utilisateur</h2>
            <div *ngIf="visibleSection === 'info'" class="section">
              <div class="row">
                <div class="input-group col-md-6">
                  <span class="input-group-icon"><i class="fas fa-user"></i></span>
                  <input id="username" type="text" placeholder="Username" formControlName="username">
                </div>

                <div class="input-group col-md-6">
                  <span class="input-group-icon"><span class="fas fa-user"></span></span>
                  <input id="fullname" type="text" placeholder="Nom complet" formControlName="fullname">
                </div>
              </div>

              <div class="row">
                <div class="input-group col-md-6">
                  <span class="input-group-icon"><i class="fas fa-lock"></i></span>
                  <input [type]="showPassword ? 'text' : 'password'" placeholder="Mot de passe" formControlName="password"
                    autocomplete="new-password">
                  <i (click)="togglePasswordVisibility()" class="{{ showPassword ? 'fas fa-eye' : 'fas fa-eye-slash' }}"></i>
                </div>

                <div class="input-group col-md-6">
                  <span class="input-group-icon"><i class="fas fa-lock"></i></span>
                  <input [type]="showPassword ? 'text' : 'password'" placeholder="Confirmer mot de passe"
                    formControlName="passwordConfirm">
                  <i (click)="togglePasswordVisibility()" class="{{ showPassword ? 'fas fa-eye' : 'fas fa-eye-slash' }}"></i>
                </div>
                <span style="color:gray; font-style: italic; margin-top: -20px;">Minimum 8 caractères avec chiffres et symboles</span>
              </div>

              <div class="row">
                <div class="input-group col-md-6">
                  <span class="input-group-icon"><i class="fas fa-envelope"></i></span>
                  <input autocomplete="off" id="email" type="email" class="form-control" placeholder="Email"
                    formControlName="email">
                </div>

                <div class="custom-checkbox col-md-6">
                  <input type="checkbox" id="isActive" formControlName="isActive" autocomplete="off">
                  <label for="isActive">Activer</label>
                </div>
              </div>
            </div>

          <h2 (click)="toggleSection('roles')">2️⃣ Rôles d'action</h2>
            <div *ngIf="visibleSection === 'roles'" class="section">
              <div class="section-title">Rôles d'action</div>
              <div class="user-role">
                <div class="row">
                  <div *ngFor="let role of ORGUNITS.roles; let index = index;" class="custom-checkbox col-md-4">
                    <input type="checkbox" id="add-remove-roles-{{ role.id }}" [checked]="containsRole(role.id)"
                      (change)="addOrRemoveRole(role.id)">
                    <label for="add-remove-roles-{{ role.id }}">{{role.name|formatRole}}</label>
                  </div>
                </div>
              </div>
            </div>

          <h2 (click)="toggleSection('orgunit')">3️⃣ Unités d'organisation</h2>
            <div *ngIf="visibleSection === 'orgunit'" class="section">
              <div class="user-orgunits">
                <div class="org-units-checkbox-parent" *ngFor="let country of ORGUNITS.countries; let index = index;">
                  <aside class="custom-checkbox input-checkbox-group">
                    <button (click)="toggleList('country-'+country.id)" type="button" class="list-unlist">
                      <span>{{ isListOpenToShow('country-'+country.id) ? '-' : '+' }}</span>
                      <!-- <span [attr.aria-hidden]="isHidden ? 'true' : null" [attr.inert]="isHidden ? '' : null"></span> -->
                    </button>
                    <input (change)="selectCountries(country)" class="org-units-check-input" type="checkbox"
                      [checked]="containsOrgUnits('countries', country.id)" [id]="'country-'+country.id">
                    <label class="form-check-label org-units-label" for="country-{{country.id}}">{{ country.name }}</label>
                  </aside>

                  <div class="org-units-checkbox-parent checkbox-list"
                    [ngClass]="{ 'show': isListOpenToShow('country-'+country.id) }"
                    *ngFor="let region of generateRegions(country.id); let index = index;">
                    <aside class="custom-checkbox input-checkbox-group">
                      <button (click)="toggleList('region-'+region.id)" type="button" class="list-unlist">
                        <span>{{ isListOpenToShow('region-'+region.id) ? '-' : '+' }}</span>
                        <!-- <span [attr.aria-hidden]="isHidden ? 'true' : null" [attr.inert]="isHidden ? '' : null"></span> -->
                      </button>
                      <input (change)="selectRegions(region)" class="org-units-check-input" type="checkbox"
                        [checked]="containsOrgUnits('regions', region.id)" id="region-{{region.id}}">
                      <label class="form-check-label org-units-label" for="region-{{region.id}}">{{
                        region.name
                        }}</label>
                    </aside>
                    <div class="org-units-checkbox-parent checkbox-list"
                      [ngClass]="{ 'show': isListOpenToShow('region-'+region.id) }"
                      *ngFor="let prefecture of generatePrefectures(region.id); let index = index;">
                      <aside class="custom-checkbox input-checkbox-group">
                        <button (click)="toggleList('prefecture-'+prefecture.id)" type="button" class="list-unlist">
                          <span>{{ isListOpenToShow('prefecture-'+prefecture.id) ? '-' : '+' }}</span>
                          <!-- <span [attr.aria-hidden]="isHidden ? 'true' : null" [attr.inert]="isHidden ? '' : null"></span> -->
                        </button>
                        <input (change)="selectPrefectures(prefecture)" class="org-units-check-input" type="checkbox"
                          [checked]="containsOrgUnits('prefectures', prefecture.id)" id="prefecture-{{prefecture.id}}">
                        <label class="form-check-label org-units-label" for="prefecture-{{prefecture.id}}">{{
                          prefecture.name }}</label>
                      </aside>
                      <div class="org-units-checkbox-parent checkbox-list"
                        [ngClass]="{ 'show': isListOpenToShow('prefecture-'+prefecture.id) }"
                        *ngFor="let commune of generateCommunes(prefecture.id); let index = index;">
                        <aside class="custom-checkbox input-checkbox-group">
                          <button (click)="toggleList('commune-'+commune.id)" type="button" class="list-unlist">
                            <span>{{ isListOpenToShow('commune-'+commune.id) ? '-' : '+' }}</span>
                            <!-- <span [attr.aria-hidden]="isHidden ? 'true' : null" [attr.inert]="isHidden ? '' : null"></span> -->
                          </button>
                          <input (change)="selectCommunes(commune)" class="org-units-check-input" type="checkbox"
                            [checked]="containsOrgUnits('communes', commune.id)" id="commune-{{commune.id}}">
                          <label class="form-check-label org-units-label" for="commune-{{commune.id}}">{{
                            commune.name }}</label>
                        </aside>
                        <div class="org-units-checkbox-parent checkbox-list"
                          [ngClass]="{ 'show': isListOpenToShow('commune-'+commune.id) }"
                          *ngFor="let hospital of generateHospitals(commune.id); let index = index;">
                          <aside class="custom-checkbox input-checkbox-group">
                            <button (click)="toggleList('hospital-'+hospital.id)" type="button" class="list-unlist">
                              <span>{{ isListOpenToShow('hospital-'+hospital.id) ? '-' : '+' }}</span>
                              <!-- <span [attr.aria-hidden]="isHidden ? 'true' : null" [attr.inert]="isHidden ? '' : null"></span> -->
                            </button>
                            <input (change)="selectHospitals(hospital)" class="org-units-check-input" type="checkbox"
                              [checked]="containsOrgUnits('hospitals', hospital.id)" id="hospital-{{hospital.id}}">
                            <label class="form-check-label org-units-label" for="hospital-{{hospital.id}}">{{
                              hospital.name }}</label>
                          </aside>
                          <div class="org-units-checkbox-parent checkbox-list"
                            [ngClass]="{ 'show': isListOpenToShow('hospital-'+hospital.id) }"
                            *ngFor="let district of generateDistrictQuartiers(hospital.id); let index = index;">
                            <aside class="custom-checkbox input-checkbox-group">
                              <button (click)="toggleList('district-'+district.id)" type="button" class="list-unlist">
                                <span>{{ isListOpenToShow('district-'+district.id) ? '-' : '+' }}</span>
                                <!-- <span [attr.aria-hidden]="isHidden ? 'true' : null" [attr.inert]="isHidden ? '' : null"></span> -->
                              </button>
                              <input (change)="selectDistrictQuartiers(district)" class="org-units-check-input" type="checkbox"
                                [checked]="containsOrgUnits('districtQuartiers', district.id)" id="district-{{district.id}}">
                              <label class="form-check-label org-units-label" for="district-{{district.id}}">{{
                                district.name }}</label>
                            </aside>
                            <div class="org-units-checkbox-parent checkbox-list"
                              [ngClass]="{ 'show': isListOpenToShow('district-'+district.id) }"
                              *ngFor="let village_secteur of generateVillageSecteurs(district.id); let index = index;">
                              <aside class="custom-checkbox input-checkbox-group">
                                <input (change)="selectVillageSecteurs(village_secteur)" class="org-units-check-input"
                                  type="checkbox" [checked]="containsOrgUnits('villageSecteurs', village_secteur.id)"
                                  id="village_secteur-{{village_secteur.id}}">
                                <label class="form-check-label org-units-label" for="village_secteur-{{village_secteur.id}}">{{
                                  village_secteur.name }}</label>
                              </aside>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
        </div>
      </form>
    </div>

  </kossi-modal-layout>
</div>