
<app-graduation-loader [isLoading]="IS_FILTER_LOADING"></app-graduation-loader>

<ng-container *ngIf="DATA_FETCHED && DATA_FETCHED.length > 0">

  <h2>📈 LISTE DES TÂCHES NON REALISEES</h2>
  <br>

  <dashboards-header-selector
    [id]="'tasks-state-table-header'"
    [REPPORT_NAME]="DASHBOARD_NAME"
    [CHANGE_STATE]="CHANGE_STATE" 
    [TABLE_ID]="'tasks-state-table'"
    [SHOW_EXPORT_TABLE_BTN]="true"
    ></dashboards-header-selector>

    
  <div class="table-responsive">
    <table id="tasks-state-table" class="table table-bordered table-hover">
      
      <thead>
        <tr class="table-head fp-header-1">
          <th colspan="4">INFOS RECOS</th>
          <th colspan="2">INFOS FAMILLES</th>
          <th colspan="2">INFOS PATIENTS</th>
          <th colspan="3">SUIVIS NON REALISES</th>
        </tr>
        <tr class="table-head fp-header-1">
          <th class="small-head">Nom</th>
          <th class="small-head">Code</th>
          <th class="small-head">Téléphone</th>
          <th class="small-head">Village</th>

          <th class="small-head">Nom</th>
          <th class="small-head">Code</th>

          <th class="small-head">Nom</th>
          <th class="small-head">Code</th>

          <th class="small-head">Formulaire</th>
          <th class="small-head">Date Tâche</th>
          <th class="small-head">Durée tâche</th>
        </tr>
      </thead>

      <tbody>
        <ng-container *ngFor="let reco of PAGINATION_DATA">
          <ng-container *ngFor="let family of reco.families">
            <ng-container *ngFor="let patient of family.patients">
              <ng-container *ngFor="let data of patient.data; let dIndex = index">
                <tr>
                  <!-- RECO infos -->
                  <td *ngIf="family === reco.families[0] && patient === family.patients[0] && dIndex === 0" [attr.rowspan]="getTotalDataCountForReco(reco)">
                    {{ reco.name }}
                  </td>
                  <td *ngIf="family === reco.families[0] && patient === family.patients[0] && dIndex === 0" [attr.rowspan]="getTotalDataCountForReco(reco)">
                    {{ reco.external_id }}
                  </td>
                  <td *ngIf="family === reco.families[0] && patient === family.patients[0] && dIndex === 0" [attr.rowspan]="getTotalDataCountForReco(reco)">
                    {{ reco.phone }}
                  </td>
                  <td *ngIf="family === reco.families[0] && patient === family.patients[0] && dIndex === 0" [attr.rowspan]="getTotalDataCountForReco(reco)">
                    {{ reco.village_secteur?.name || '-' }}
                  </td>

                  <!-- Famille infos -->
                  <td *ngIf="patient === family.patients[0] && dIndex === 0" [attr.rowspan]="getTotalDataCountForFamily(family)">
                    {{ family.given_name }}
                  </td>
                  <td *ngIf="patient === family.patients[0] && dIndex === 0" [attr.rowspan]="getTotalDataCountForFamily(family)">
                    {{ family.external_id }}
                  </td>

                  <!-- Patient infos -->
                  <td *ngIf="dIndex === 0" [attr.rowspan]="patient.data.length">
                    {{ patient.name }}
                  </td>
                  <td *ngIf="dIndex === 0" [attr.rowspan]="patient.data.length">
                    {{ patient.external_id || '-' }}
                  </td>

                  <!-- Data -->
                  <td>{{ formatForm(data.form).toUpperCase() }}</td>
                  <td>{{ formatDateToFr(data.due_date) }}</td>
                  <td>{{ taskDuration(data) }}</td>
                </tr>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>

      </tbody>
    </table>
  </div>


  <dashboards-pagination-table 
    [id]="'pagination-tasks-state'"
    [PAGINATION_DATA]="DATA_FETCHED"
    (onPageChanged)="onUpdatedPaginate($event)"
    ></dashboards-pagination-table>

</ng-container>


<ng-container *ngIf="!DATA_FETCHED || DATA_FETCHED.length == 0">
  <h1 style="margin-top: 150px; width: 100%; text-align: center; color:brown;">
    Pas de données, appliquer le filtre !
  </h1>
</ng-container>