/* .fp-header-1 th, .fp-header-2 th {
  width: 40px!important;
} */

.quantity-up {
  color: rgb(5, 0, 45);
  font-weight: bold;
}

/* .quantity-down {
  color: rgb(181, 181, 181);
} */

.quantity-error {
  color: rgb(255, 112, 112);
}
