<reports-orgunits-filter 
[CHANGE_STATE]="CHANGE_STATE"
(onValidateAllReports)="VALIDATE_ALL_REPORTS()"
(onCancelAllValidation)="CANCEL_ALL_VALIDATION()"
(onSendAllReportsToDhis2)="SEND_ALL_REPPORTS_DATA_TO_DHIS2($event)"
></reports-orgunits-filter>


<div class="nav-tabs">
  <button class="tab-link active" data-target="MONTH_ACTIVITY">RAPPORT D'ACTIVITÉS</button>
  <button class="tab-link" data-target="PROMOTIONS">RAPPORT PROMOTIONS</button>
  <button class="tab-link" data-target="PF">RAPPORT PF</button>
  <button class="tab-link" data-target="MORBIDITY">RAPPORT MORBIDITÉ</button>
  <button class="tab-link" data-target="PECIMNE">RAPPORT PCIMNEE</button>
  <button class="tab-link" data-target="RECAP_MENAGE">RAPPORT MÉNAGES</button>
  <button class="tab-link" data-target="MEG_RECO">RAPPORT MEGs</button>
</div>


<!-- Contenu des vues -->
<div class="tab-content">
  <div id="MONTH_ACTIVITY" class="view active">
    <chw-reco-activity-report [CHANGE_STATE]="CHANGE_STATE"></chw-reco-activity-report>
  </div>

  <div id="PROMOTIONS" class="view">
    <promotion-activity-report [CHANGE_STATE]="CHANGE_STATE"></promotion-activity-report>
  </div>

  <div id="PF" class="view">
    <family-planning-report [CHANGE_STATE]="CHANGE_STATE"></family-planning-report>
  </div>

  <div id="MORBIDITY" class="view">
    <morbidity-report [CHANGE_STATE]="CHANGE_STATE"></morbidity-report>
  </div>

  <div id="PECIMNE" class="view">
    <pcimne-report [CHANGE_STATE]="CHANGE_STATE"></pcimne-report>
  </div>

  <div id="RECAP_MENAGE" class="view">
    <household-recap-report [CHANGE_STATE]="CHANGE_STATE"></household-recap-report>
  </div>

  <div id="MEG_RECO" class="view">
    <reco-meg-situation-report [CHANGE_STATE]="CHANGE_STATE"></reco-meg-situation-report>
  </div>

  <!-- <div>
    <h2>📋 </h2>
    <div class="stats">
      <div class="stat-box">
        <h3>Total des Visites</h3>
        <p class="stat-number">500</p>
      </div>
      <div class="stat-box">
        <h3>Total des Rapports</h3>
        <p class="stat-number">120</p>
      </div>
      <div class="stat-box">
        <h3>Utilisateurs Actifs</h3>
        <p class="stat-number">350</p>
      </div>
    </div>
  </div> -->

</div>




