<div class="login-body">
  <!-- Country logo and name at the top-left -->
  <div class="country-logo">
    <img src="{{COUNTRY_LOGO}}" alt="Country Logo">
    <div>
      <div class="country-name">TABLEAU DE BORD DE KENDEYA</div>
      <div class="country-subname">Bienvenue dans Kendeya Dashboards</div>
    </div>
  </div>




  <!-- Login Form Section -->
  <div class="login-form">
    <!-- App Logo -->
    <div class="login-header">
      <img src="{{APP_LOGO}}" alt="App Logo">

      <p class="login-title">Changement du mot de passe</p>
    </div>

    <form [formGroup]="passwordForm" (ngSubmit)="updatePassword()" autocomplete="off" novalidate>
      <h6 *ngIf="message">{{ message }}</h6>
      
      <br>
      <label>Mot de passe actuelle:</label>
      <div class="form-group">
        <div class="input-group">
          <span class="input-group-icon"><i class="fas fa-lock"></i></span>
          <input [type]="showOlfPassword ? 'text' : 'password'" id="oldPassword" formControlName="oldPassword" placeholder="Mot de passe actuel"
            autocomplete="current-password" autocorrect="off" spellcheck="false" autocapitalize="none" required>
            <i (click)="toggleOldPasswordVisibility()" class="{{ showOlfPassword ? 'fas fa-eye' : 'fas fa-eye-slash' }}"></i>
        </div>
      </div>
      <br>
      <label>Nouveau mot de passe:</label>
      <div class="form-group">
      <div class="input-group">
        <span class="input-group-icon"><i class="fas fa-lock"></i></span>
        <input [type]="showPassword ? 'text' : 'password'" id="newPassword" formControlName="newPassword" placeholder="Nouveau mot de passe"
          autocomplete="new-password" autocorrect="off" spellcheck="false" autocapitalize="none" required>
          <i (click)="togglePasswordVisibility()" class="{{ showPassword ? 'fas fa-eye' : 'fas fa-eye-slash' }}"></i>
      </div>
      <span style="color:gray; font-style: italic; margin-top: -20px;">Minimum 8 caractères avec chiffres et symboles</span>
    </div>

      <br>
      <label>Confirmer le Nouveau mot de passe:</label>
      <div class="form-group">
      <div class="input-group">
        <span class="input-group-icon"><i class="fas fa-lock"></i></span>
        <input [type]="showPassword ? 'text' : 'password'" id="confirmPassword" formControlName="confirmPassword" placeholder="Confirmer ce mot de passe"
          autocomplete="new-password" autocorrect="off" spellcheck="false" autocapitalize="none" required>
          <i (click)="togglePasswordVisibility()" class="{{ showPassword ? 'fas fa-eye' : 'fas fa-eye-slash' }}"></i>
      </div>
      <span style="color:gray; font-style: italic; margin-top: -20px;">Minimum 8 caractères avec chiffres et symboles</span>
    </div>

      <div *ngIf="passwordNotMatch" class="error">
        <br>
        Les mots de passe ne concordent pas!
      </div>

      <br>
      <button style="float: right;" [disabled]="!passwordForm.valid || isLoading" type="submit" class="login-button">
        Changer mot de passe
        <span *ngIf="isLoading" class="fas fa-1x fa-sync-alt fa-spin"></span>
      </button>

    </form>
  </div>
</div>