<div class="page-title card card-primary card-outline">
  <div class="card-body d-flex justify-content-between align-items-center">
    <span class="fas fa-user">API List</span>
    <button type="button" class="btn btn-success" (click)="openModal('create')">Add API</button>
  </div>
</div>

<div class="page-content-wrap mt-3">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body p-0">
          <table class="table table-striped mb-0">
            <thead class="thead-light">
              <tr>
                <th>Id</th>
                <th>Token</th>
                <th>Status</th>
                <th colspan="3">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor="let api of apis$">
              <tr>
                <td>{{ api.id }}</td>
                <td>{{ api.token }}</td>
                <td>
                  <button [disabled]="isActiving" class="btn btn-warning btn-sm" (click)="SetActive(api)">
                    <!-- <i class="fas fa-edit"></i> -->
                    {{ api.isActive ? 'ACTIVE' : 'DISABLED' }}
                  </button>
                </td>
                <td>
                  <button [disabled]="loading" class="btn btn-warning btn-sm" (click)="openModal('refresh', api)">
                    <i class="fas fa-refresh"></i>
                  </button>
                </td>
                <td>
                  <button [disabled]="loading" class="btn btn-danger btn-sm" (click)="openModal('delete', api)">
                    <i class="fas fa-trash-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Add/Edit Modal -->
<div *ngIf="showModalFlag" class="custom-modal" (click)="closeModal()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <form [formGroup]="apiForm" (ngSubmit)="CreateOrUpdateApi()" class="form-horizontal">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">{{ isEditMode ? 'Modifier' : 'Ajouter' }} un API</h5>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="tokenLen">Token</label>
            <input type="text" [min]="tokenLenMin" [max]="tokenLenMax" class="form-control" id="tokenLen" formControlName="tokenLen">
          </div>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" id="isActive" formControlName="isActive" style="width: 30px; height: 30px;">
            <label class="form-check-label" for="isActive" style="font-size: large;margin-top: 10px;"> Activer</label>
          </div>
          <p *ngIf="message" class="text-danger">{{ message }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModal()">Annuler</button>
          <button [disabled]="loading" type="submit" class="btn btn-{{ isEditMode ? 'warning' : 'success' }}" [disabled]="!apiForm.valid">
            {{ isEditMode ? 'Modifier' : 'Sauvegarder' }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Delete Modal -->
<div *ngIf="showDeleteModalFlag" class="custom-modal" (click)="closeModal()">
  <div class="modal-dialog" (click)="$event.stopPropagation()">
    <div class="modal-content bg-danger text-white">
      <div class="modal-header">
        <h5 class="modal-title">Confirmer la suppression</h5>
        <button type="button" class="close text-white" (click)="closeModal()">&times;</button>
      </div>
      <div class="modal-body">
        Cette action est irréversible !
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-light" (click)="closeModal()">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="DeleteApi()">Supprimer</button>
      </div>
    </div>
  </div>
</div>

