<div class="page-title card card-primary card-outline">
    <div class="card-body">
        <span style="float: left;" class="fas fa-user"> API List</span>
        <button (click)="CreateApi()" style="float: right;" type="button" class="btn btn-default" data-toggle="modal"
            data-target="#modal-default">
            Add API
        </button>
    </div>
</div>

<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">

                </div>
                <div class="panel-body">
                    <table class="table datatable">
                        <thead>
                            <tr>
                                <th>id</th>
                                <th>Token</th>
                                <th>IsActive</th>
                                <th colspan="2">Actions</th>
                            </tr>
                        </thead>


                        <tbody *ngFor="let api of apis$">
                            <tr>
                                <td>{{ api.id }}</td>
                                <td>{{ api.token }}</td>
                                <td>{{ api.isActive ? 'OK' : 'NO ACCESS' }}</td>
                                <td>
                                    <i (click)="EditApi(api)" class="btn-warning fas fa-edit" data-toggle="modal"
                                        data-target="#modal-default"></i>
                                </td>
                                <td>
                                    <i (click)="ApiSelected(api)" class="btn-danger fas fa-trash-alt"
                                        data-toggle="modal" data-target="#modal-danger"></i>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <form [formGroup]="apiForm" (ngSubmit)="CreateOrUpdateApi()" novalidate class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- <img height="30" class="modal-title" src="{{ APP_LOGO}}" alt="" srcset=""> -->

                    <strong style="text-align: center;" class="login-box-msg"><span
                            class=" btn-{{ isEditMode?'warning':'success' }}">
                            {{ isEditMode ? 'Modifier un utilisateur' :'Ajouter un utilisateur' }}</span></strong>

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span>&times;</span>
                        <!-- <span [attr.aria-hidden]="isHidden ? 'true' : null" [attr.inert]="isHidden ? '' : null">&times;</span> -->
                    </button>
                </div>

                <div class="modal-body">
                    <p *ngIf="message!=''" class="login-box-msg"><strong>{{ message }}</strong></p>

                    <h1 *ngIf="isEditMode">Token</h1>
                    <div class="input-group mb-3">
                        <input id="api-token" (input)="generateTokenLenght($event)" id="token" type="text" [maxlength]="defaultTokenLenght" class="form-control" placeholder="Token" formControlName="token" />
                    </div>

                    <p>{{ tokenLenght }} / <strong>{{ defaultTokenLenght }}</strong></p>

                    <br>

                    <div class="row">
                        <div class="col-6">
                            <div class="input-group mb-3">
                                <div class="icheck-primary">
                                    <input type="checkbox" id="isActive" formControlName="isActive">
                                    <label for="isActive">Activer</label>
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <div class="modal-footer justify-content-between">
                    <button id="close-modal" type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button [disabled]="!apiForm.valid" type="submit"
                        class="btn btn-{{isEditMode ? 'warning': 'success'}}">{{isEditMode ? 'Modifier':'Sauvegarder'}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="modal-danger">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">

                <h4 class="modal-title">Suppression d'utilisateur</h4>
                <button id="close-delete-modal" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Cette action est iréversible! Êtes vous sûr de procéder à la suppression ?

                <p class="login-box-msg"><strong>{{ message }}</strong></p>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                <button (click)="DeleteApi()" type="button" class="btn btn-danger swalDefaultSuccess">Oui Supprimer
                    !</button>
            </div>
        </div>
    </div>
</div>
